<main>
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{contenido_texto}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
<p>
  <i class="fad fa-pen-to-square"></i>
  <span class="editar-text" id="editable-content">{{contenido_edit }}</span>
  <span class="editar-btn">edit</span>
</p>
</div>
</main>